[submodule "adreamzone-common"]
	path = adreamzone-common
	url = https://github.com/Adi3000/adreamzone-common.git
[submodule "adreamzone-client"]
	path = adreamzone-client
	url = https://github.com/Adi3000/adreamzone-client.git
[submodule "adreamzone-web"]
	path = adreamzone-web
	url = https://github.com/Adi3000/adreamzone-web.git
